/* ****************************************************************************************************

  # container
  - layout
  - 横幅などの指定

**************************************************************************************************** */
// l-section > l-container
@use '../foundation/tool/global';

.l-container {
  position: relative;
  @include global.content-width-padding();
}

/* full
---------------------------------------------------------------------- */
.l-container.l-container--full {
  padding-right: 0;
  padding-left: 0;
}

/* mini
---------------------------------------------------------------------- */
.l-container.l-container--mini {
  padding-right: 18vw;
  padding-left: 18vw;
  @media print, screen and (max-width: global.$breakpoint-min-xl) {
    @include global.content-width-padding();
  }
}
/* full
---------------------------------------------------------------------- */
.l-container.l-container--left-full {
  padding-left: 0;
  padding-right: 0;
  @media print, screen and (min-width: global.$breakpoint-min-md) {
    padding-left: 0;
    padding-right: global.$content-side-gutter-sm-device;
  }
  @media print, screen and (min-width: global.$breakpoint-min-xl) {
    padding-left: 0;
    padding-right: global.$content-side-gutter-mq-min-md;
  }
}
/* full
---------------------------------------------------------------------- */
.l-container.l-container--right-full {
  padding-left: 0;
  padding-right: 0;
  @media print, screen and (min-width: global.$breakpoint-min-md) {
    padding-right: 0;
    padding-left: global.$content-side-gutter-sm-device;
  }
  @media print, screen and (min-width: global.$breakpoint-min-xl) {
    padding-right: 0;
    padding-left: global.$content-side-gutter-mq-min-md;
  }
}

/* pcサイズからfull
---------------------------------------------------------------------- */
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .l-container.l-container--full_from-m {
    padding-right: 0;
    padding-left: 0;
  }
}
