/* ======================================================================

  # camp-list
  - component

====================================================================== */
@use '../../foundation/tool/global';

.c-camp-list {
  margin-top: 4rem;
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list {
    margin-top: 2rem;
  }
}

.c-camp-list__item + .c-camp-list__item {
  margin-top: 3rem;
}

.c-camp-list__item__title {
  position: relative;
  font-family: global.$font-family-noto;
  font-size: 2.4rem;
  font-weight: bold;
  color: global.$color-txt;
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list__item__title {
    font-size: 1.8rem;
  }
}

.c-camp-list__item__wrap {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  padding-bottom: 5rem;
  margin-top: 2rem;
  border-bottom: 1px dashed global.$color-blue;
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list__item__wrap {
    flex-direction: column;
    margin-top: 1rem;
    padding-bottom: 3rem;
  }
}

.c-camp-list__item__wrap__slider {
  position: relative;
  width: 50%;
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list__item__wrap__slider {
    width: 100%;
  }
}

.c-camp-list__item__wrap__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 46%;
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list__item__wrap__content {
    width: 100%;
  }
}

.c-camp-list__item__wrap__content__logo {
  width: 70%;
  margin: 0 auto 2rem;
}

.c-camp-list__item__wrap__content__logo.c-camp-list__item__wrap__content__logo--mini {
  width: 40%;
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list__item__wrap__content__logo {
    width: 60%;
  }
  .c-camp-list__item__wrap__content__logo.c-camp-list__item__wrap__content__logo--mini {
    width: 30%;
  }
}

.c-camp-list__item__wrap__content__description {
  margin-top: 2rem;
}

.c-camp-list__item__wrap__content__description__wrap {
  padding: 2rem 3rem;
  background-color: global.$color-blue-light;
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list__item__wrap__content__description__wrap {
    padding: 2rem;
  }
}

.c-camp-list__item__wrap__content__description__txt {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.c-camp-list__item__wrap__content__description__txt.c-camp-list__item__wrap__content__description__txt--start {
  align-items: flex-start;
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list__item__wrap__content__description__txt {
    &:has(span) {
      margin-top: 1rem;
      align-items: flex-start;
    }
  }
}

.c-camp-list__item__wrap__content__description__txt__title {
  display: block;
  width: 8rem;
  padding: 0.1rem 1rem;
  font-family: global.$font-family-noto;
  font-size: 1.2rem;
  font-weight: 400;
  color: global.$color-white;
  text-align: center;
  background-color: global.$color-purple;
  border-radius: 0.3rem;
}

.c-camp-list__item__wrap__content__description__txt__content {
  padding-bottom: 0.2rem;
  font-family: global.$font-family-noto;
  font-size: 1.6rem;
  font-weight: 400;
  color: global.$color-txt;
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list__item__wrap__content__description__txt__content {
    font-size: 1.5rem;
    line-height: 1.5;
    span {
      display: block;
    }
  }
}

/* ****************************************************************************************************

 # 予約ボタン

**************************************************************************************************** */

.c-camp-list__item__wrap__content__btn {
  position: relative;
  display: block;
  background-color: global.$color-purple;
}

.c-camp-list__item__wrap__content__btn.c-camp-list__item__wrap__content__btn--blank {
  border: 1px solid global.$color-purple;
  background-color: global.$color-white;
  &::after,
  &::before {
    display: block;
    position: absolute;
    content: '';
    border: 1px solid global.$color-purple;
    width: 1.4rem;
    height: 1.4rem;
  }
  &::after {
    top: 45%;
    left: 1rem;
    transform: translateY(-50%);
  }
  &::before {
    top: 55%;
    transform: translateY(-50%);
    left: 1.5rem;
  }
}

.c-camp-list__item__wrap__content__btn__icon {
  position: absolute;
  top: 50%;
  left: 3rem;
  display: block;
  width: 2.2rem;
  transform: translate(-50%, -50%);
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list__item__wrap__content__btn__icon {
    width: 2rem;
  }
}

.c-camp-list__item__wrap__content__btn__txt {
  position: relative;
  padding: 0.8rem 0;
  font-family: global.$font-family-noto;
  font-size: 1.8rem;
  font-weight: bold;
  color: global.$color-white;
  text-align: center;
}

.c-camp-list__item__wrap__content__btn__txt.c-camp-list__item__wrap__content__btn__txt__blank {
  color: global.$color-purple;
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list__item__wrap__content__btn__txt {
    font-size: 1.6rem;
  }
}

/* ****************************************************************************************************

 # swiper関連

**************************************************************************************************** */

.swiper-container.c-camp-list-slider {
  overflow: hidden;
}

.c-camp-list-swiper-button-next {
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 10;
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url('../img/icon/toggle-green.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(50%) translateY(-50%);

  &::after {
    content: none;
  }
}

.c-camp-list-swiper-button-prev {
  position: absolute;
  bottom: 55%;
  left: 0;
  z-index: 10;
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url('../img/icon/toggle-green.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg) translateX(50%) translateY(-50%);

  &::after {
    content: none;
  }
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list-swiper-button-prev,
  .c-camp-list-swiper-button-next {
    width: 3rem;
    height: 3rem;
  }
}

.c-camp-list-swiper-pagination {
  position: relative;
  bottom: 0 !important;
  margin-top: 2rem;
  text-align: center;

  .swiper-pagination-bullet {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem !important;
    background: transparent;
    border: 2px solid global.$color-blue;
    opacity: 1;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: global.$color-blue;
  }
}

@media print, screen and (max-width: global.$breakpoint-min-md) {
  .c-camp-list-swiper-pagination {
    margin-top: 1rem;
  }
}
