/* ****************************************************************************************************

  # sp-fixed-btn
  - component

**************************************************************************************************** */
@use '../../foundation/tool/global';

.c-sp-fixed-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 500;
  background-color: global.$color-white;
}

@media print, screen and (min-width: global.$breakpoint-min-md) {
  .c-sp-fixed-btn {
    display: none;
  }
}

.c-sp-fixed-btn__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-sp-fixed-btn__list__item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0 0.5rem;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &:has(.c-sp-fixed-btn__list__item_inner) {
    text-align: center;
    padding: 0;
  }
}
.c-sp-fixed-btn__list__item_inner {
  display: block;
  padding: 0.8rem 0 0.5rem;
  height: 100%;
  width: 100%;
}

.c-sp-fixed-btn__list__item.active {
  &::after {
    display: block;
    position: absolute;
    top: -0.25rem;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    position: absolute;
    background-color: global.$color-white;
    z-index: -1;
  }
}

.c-sp-fixed-btn__list__item--reserve {
  background-color: global.$color-blue;
}

.c-sp-fixed-btn__list__item + .c-sp-fixed-btn__list__item {
  border-left: 1px solid #f0f0f0;
}

.c-sp-fixed-btn__list__item__icon {
  width: 40%;
  margin-bottom: 0.5rem;
}

.c-sp-fixed-btn__list__item__txt {
  font-size: 1rem;
  font-family: global.$font-family-noto;
  font-weight: bold;
  color: global.$color-txt;
  position: relative;
}

.c-sp-fixed-btn__list__item__txt--reserve {
  color: global.$color-white;
}
